# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# SQLAlchemy / Alembic
*.db

# Build Artifacts
build/
dist/
*.egg-info/

# Environment Files
.env.*
!.env.example

# Docker
docker/postgres_data/

# MyPy / Type Checkers
.mypy_cache/

# Ruff / Linting
.ruff_cache/

#extra dev tools
.claude
.refact

#manual testing files
testing_config.py
testing_jwt.py
